body {
    background-color: #17181c;
    color: #ffffff;
    font-family: sans-serif;
}

pulse {
    background: none;
    color: #ff760c;
    border: 2px solid;
    margin: 50px;
    padding: 15px 40px;
    transition: 0.25s;
    padding: 20px;
}